{% extends 'home.html' %}
{% load static %}

{% block productos%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'pagina.css' %}">
    <title>Tienda de Productos</title>
</head>
<body>
    <header>
        <h1>Medicamentos</h1>
    </header>
    <main>
        <div class="contenedor">
            {% block content%}
            {% endblock content%}  
            <!-- Repite el código anterior para los otros 9 productos -->
        </div>
    </main>
</body>
</html>
{% endblock productos%}