body{
    padding:10px 20px;
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
}

#titulo{
    padding: 10px 10px;
    color: white;
    background-color: #333
}


/* Estilo de las secciones */
section {
    margin: 10px;
    padding: 20px ;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section h2 {
    font-size: 1.5em;
    color: #333;
}






/* Estilo del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilo para listas */
ul {
    list-style: disc;
    margin-left: 20px;
}

/* Estilo para párrafos */
p {
    line-height: 1.5;
    margin: 10px 0;
}

/* Sección de contacto */
#contacto {
    background-color: #e0e0e0;
    color: black;
    text-align: center;
    padding: 20px 0;
}
#contacto h2 {
    color: black;
}
#contacto p {
    font-size: 16px;
}


#letra{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: flex-start; /* Alinea los elementos hacia la izquierda (valor predeterminado) */
    background-color: #333; /* Establece un color de fondo (opcional) */
}

#letra a{
    padding: 0px 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}




