
body{
    font-size: 16px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mooli', sans-serif;
}

button{
    background-color: rgb(254, 157, 60);
    color: white;
    padding: 0.625rem 1.25rem;
    border: solid black 0.06em;
    border-radius: 0.3125em;
    cursor: pointer;
    border-radius: 1.5em;
}


.login{
    background-color: aquamarine;
    padding: 2.5em ;
    display: flex;
    border: solid rgb(0, 0, 0) 0.125em;
    border-radius: 1.25em;
    background-size: 10%;
    background-repeat: no-repeat;

}
.img{
    display: flex;
    justify-content: flex-end;
    margin: 0.625em 1.25em;
    padding: 0.625em 1.5em;
}

a{
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: flex-start ;
}


.extra{
    display: block;
    margin: 1.25em auto;
    padding: 0.875em 0.625em;
    display: flex;
    flex-direction:column;
    text-align: flex-end;
    width: 12.5em;
    border-radius: 1.25em;
    

}

@media(max-width:1200px){
    body{
        font-size: 14px;
    }
    .login{
        background-size: 8%;
    }
  
}


@media(max-width:992px){
    body{
        font-size: 12px;
    }
    .login{
        background-size: 5%;
    }
   
 }

@media(max-width:768px){
    body{
        font-size: 10px;
    }
   
 }
 @media(max-width:576px){
    body{
        font-size: 8px;
    }
    .login{
        background-size: 3%;
    }
    
 }
