{% extends 'home.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div style="display: flex; justify-content: start; align-items: center;">
    <div>
        <h2 style="padding: 1rem;">Elige una categoría:</h2>
    </div>
    <div class="dropdown">
        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'catalogos' categoria='Analgésicos' %}">Analgésicos</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Antiinflamatorios' %}">Antiinflamatorios</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Gastrointestinales' %}">Gastrointestinales</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Antibióticos' %}">Antibióticos</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Cardiovasculares' %}">Cardiovasculares</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Diabetes' %}">Diabetes</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Antialérgicos' %}">Antialérgicos</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Psiquiatría' %}">Psiquiatría</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Tiroides' %}">Tiroides</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Antifúngicos' %}">Antifúngicos</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Urología' %}">Urología</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Diuréticos' %}">Diuréticos</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Neurología' %}">Neurología</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Oftalmología' %}">Oftalmología</a></li>
<li><a class="dropdown-item" href="{% url 'catalogos' categoria='Inmunosupresores' %}">Inmunosupresores</a></li>

            <li><a class="dropdown-item" href="{% url 'catalogos' %}">Todos los medicamentos</a></li>
        </ul>
    </div>
</div>

{% if categoria %}
    <h2>Catálogo de {{ categoria }}</h2>
{% else %}
    <h2 style="margin-top: 10px;">Todos los Medicamentos</h2>
{% endif %}

<div class="row justify-content-center">
    {% for medicamento in medicamentos %}
    <div class="ancho-personalizado" style="height: auto; padding: 1rem 1rem;">
        <div class="card card border-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ medicamento.nombre_medicamento }}</h5>
                <p class="card-text">{{ medicamento.categoria }}</p>
                <p class="card-text">$ {{ medicamento.precio }}</p>
                <div>
                    <form method="post" action="{% url 'Add' medicamento.id_medicamento %}">
                        {% csrf_token %}
                        <div class="input-group" style="display: flex; align-items: center;">
                            <button type="button" class="btn btn-secondary btn-minus">-</button>
                            <input type="number" id="cantidad-{{ medicamento.id_medicamento }}" name="cantidad" value="1" min="1"
                                style="max-width: 60px; margin-left: 2px; margin-right: 4px;">
                            <button type="button" class="btn btn-secondary btn-plus">+</button>
                            <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Agregar al carrito</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-plus").click(function () {
            var inputElement = $(this).closest(".input-group").find("input");
            var currentValue = parseInt(inputElement.val());
            inputElement.val(currentValue + 1);
        });

        $(".btn-minus").click(function () {
            var inputElement = $(this).closest(".input-group").find("input");
            var currentValue = parseInt(inputElement.val());
            if (currentValue > 1) {
                inputElement.val(currentValue - 1);
            }
        });
    });
</script>
{% endblock content %}
