{% extends 'home.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block content %}
<style>
    .container {
        background-color: #ffffff;
        margin-top: 20px;
        border: 1px solid #dddddd;
        padding: 20px;
        border-radius: 10px;
    }

    h2 {
        color: #333333;
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #dddddd;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    .row {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .text-center {
        text-align: center;
    }

    .alert-dark {
        background-color: #343a40;
        color: #ffffff;
    }
</style>

<div class="boddy">
    <div class="container">
        <h2 class="text-center">Detalle de Compra</h2>
        <h5 style="text-align: right;"><strong>Fecha de Hoy:</strong> {% now "d-m-Y" %}</h5>

        <!-- Información del Afiliado -->
        {% with afiliado=request.user.afiliados %}
            <div class="row mb-4">
                <h4>Información del Afiliado</h4>
                <div class="col-md-6">
                    <p><strong>Nombre:</strong> {{ afiliado.nombre_afi }}</p>
                    <p><strong>Apellido:</strong> {{ afiliado.apellido_afi }}</p>
                    <p><strong>DNI:</strong> {{ afiliado.dni_afi }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Fecha de Nacimiento:</strong> {{ afiliado.fecha_nac_afi }}</p>
                    <p><strong>Teléfono:</strong> {{ afiliado.tel_afi }}</p>
                    <p><strong>Correo:</strong> {{ afiliado.mail_afi }}</p>
                </div>
            </div>

            <div class="row mb-4">
                <h4>Detalles de Envío</h4>
                <div class="col-md-6">
                    <p><strong>Provincia:</strong> Salta</p>
                    <p><strong>Localidad:</strong> Salta Capital</p>
                </div>
                <div class="col-md-6">
                    {% if direccion %}
                        <p><strong>Calle:</strong> {{ direccion.calle }}</p>
                        <p><strong>Número:</strong> {{ direccion.numero }}</p>
                    {% endif %}
                </div>
            </div>
        {% endwith %}

        <!-- Detalles del Carrito -->
        {% if request.session.carrito.items %}
            <h4>Compra</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                {% for key, value in request.session.carrito.items %}
                    <tr>
                        <td>{{ value.nombre }}</td>
                        <td>{{ value.cantidad }}</td>
                        <td>$ {{ value.acumulado }}</td>
                    </tr>
                {% endfor %}
                <!-- Total del Carrito dentro de la tabla -->
                <tr>
                    <td colspan="2" class="text-right"><strong>Total:</strong></td>
                    <td><strong>$ {{ total_carrito }}</strong></td>
                </tr>
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-dark text-center">Sin Medicamentos</div>
        {% endif %}

        <!-- Botones -->
        <div class="row text-center">
            <div class="col-6"><a href="{% url 'pagcarrito' %}" class="btn btn-danger">Volver al carrito</a></div>
            <div class="col-6"><button onclick="generarPDF()" class="btn btn-warning">Generar PDF</button></div>
        </div>
    </div>
</div>



{% endblock content %}
