{% extends 'home.html' %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<div id="centrado">
    <div id="contenido" >
    <h1>Tienda</h1>
    </div>
  </div>
<div class="continer" style="padding: 0rem 3rem;;">
    
    <div class="row">
        <div class="">
            <div class="row" >
                <div >
                    <div class="row justify-content-center">
                        {% for medicamento in medicamentos %}
                        <div class="ancho-personalizado" style=" height: auto; padding: 1rem 1rem;">
                            <div class="card card border-dark mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">{{ medicamento.nombre_medicamento }}</h5>
                                    <p class="card-text">{{ medicamento.categoria }}</p>
                                    <p class="card-text">$ {{ medicamento.precio }}</p>
                                    <div>
                                        <form method="post" action="{% url 'Add' medicamento.id_medicamento %}">
                                            {% csrf_token %}
                                            <div class="input-group" style="display: flex; align-items: center;">
                                                <button type="button" class="btn btn-secondary btn-minus">-</button>
                                                <input type="number" id="cantidad-{{ medicamento.id_medicamento }}" name="cantidad" value="1" min="1" style="max-width: 60px; margin-left: 2px; margin-right: 4px;">
                                                <button type="button" class="btn btn-secondary btn-plus">+</button>
                                                <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Agregar al carrito</button>
                                            </div>

                                        </form>                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".btn-plus").click(function () {
            var inputElement = $(this).closest(".input-group").find("input");
            var currentValue = parseInt(inputElement.val());
            inputElement.val(currentValue + 1);
        });

        $(".btn-minus").click(function () {
            var inputElement = $(this).closest(".input-group").find("input");
            var currentValue = parseInt(inputElement.val());
            if (currentValue > 1) {
                inputElement.val(currentValue - 1);
            }
        });
    });
</script>

{% endblock content %}
