{% extends 'home.html' %}
{% load static %}
{% block content-home %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      img {
        max-width: 100%;
        height: auto;
      }
      @media (max-width: 768px) {
        img {
          width: 100%;
        }
      }
      @media (min-width: 768px) {
        #carouselExampleDark {
          padding: 10px 0px;
          width: 950%;
          max-width: 1200px;
        }
        .banner {
          max-width: 100%;
          height: auto;
          text-align: center;
        }
        .img-responsive {
          padding-top: 10px;
          padding-bottom: 10px;
          width: 90%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      }
    </style>
  </head>
  <div id="centrado">
    <div id="contenido">
      <h1>Novedades</h1>
      </div>
  </div>

  <div class="content-home">
    <div style="display: flex; justify-content: center; align-items: center;">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="{% static 'img/uno.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="{% static 'img/dos.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/tres.jpg' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" ariahidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>





    {% if request.user.is_authenticated %}
    {% with afiliado=request.user.afiliados %}
        {% if afiliado %}
            {% if afiliado.id_tipoPlan.id_tipoPlan == 1 %}
            <div id="centrado">
              <div id="contenido">
                <h1>Productos con el 25%:</h1>
                </div>
              <div class="row justify-content-center">
                {% for medicamento in medicamentos_con_descuento %}
                {% if medicamento.desc_medicamento == 25 and medicamento.precio >= 1200 and medicamento.precio <= 1400 %}
                    <div class="ancho-personalizado" style="height: auto; padding: 1rem 1rem;">
                      <div class="card card border-dark mb-3">
                        <img src="{% static medicamento.url %}" class="card-img-top" style="height: 250px; padding: 2rem;" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ medicamento.nombre_medicamento }}</h5>
                          <p class="card-text">{{ medicamento.categoria }}</p>
                          <!-- Mostrar precio con descuento -->
                          <p class="card-text">
                            <span style="text-decoration: line-through;">$ {{ medicamento.precio }}</span>
                            (Descuento: {{ medicamento.desc_medicamento|floatformat:0 }}%)
                            <br>
                            Precio con descuento: $ {{ medicamento.precio_con_descuento|floatformat:"2" }}
                          </p>
                          <div>
                            <form method="post" action="{% url 'Add' medicamento.id_medicamento %}">
                              {% csrf_token %}
                              <div class="input-group" style="display: flex; align-items: center;">
                                <button type="button" class="btn btn-secondary btn-minus">-</button>
                                <input type="number" id="cantidad-{{ medicamento.id_medicamento }}" name="cantidad" value="1" min="1" style="max-width: 60px; margin-left: 2px; margin-right: 4px;">
                                <button type="button" class="btn btn-secondary btn-plus">+</button>
                                <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Agregar al carrito</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% elif afiliado.id_tipoPlan.id_tipoPlan == 2 %}
            <div id="centrado">
              <div id="contenido">
                <h1>Productos con el 50%:</h1>
                </div>
              <div class="row justify-content-center">
                {% for medicamento in medicamentos_con_descuento %}
                {% if medicamento.desc_medicamento == 50 and medicamento.precio >= 1200 and medicamento.precio <= 1400 %}
                    <div class="ancho-personalizado" style="height: auto; padding: 1rem 1rem;">
                      <div class="card card border-dark mb-3">
                        <img src="{% static medicamento.url %}" class="card-img-top" style="height: 250px; padding: 2rem;" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ medicamento.nombre_medicamento }}</h5>
                          <p class="card-text">{{ medicamento.categoria }}</p>
                          <!-- Mostrar precio con descuento -->
                          <p class="card-text">
                            <span style="text-decoration: line-through;">$ {{ medicamento.precio }}</span>
                            (Descuento: {{ medicamento.desc_medicamento|floatformat:0 }}%)
                            <br>
                            Precio con descuento: $ {{ medicamento.precio_con_descuento|floatformat:"2" }}
                          </p>
                          <div>
                            <form method="post" action="{% url 'Add' medicamento.id_medicamento %}">
                              {% csrf_token %}
                              <div class="input-group" style="display: flex; align-items: center;">
                                <button type="button" class="btn btn-secondary btn-minus">-</button>
                                <input type="number" id="cantidad-{{ medicamento.id_medicamento }}" name="cantidad" value="1" min="1" style="max-width: 60px; margin-left: 2px; margin-right: 4px;">
                                <button type="button" class="btn btn-secondary btn-plus">+</button>
                                <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Agregar al carrito</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
        
            <div id="centrado">
              <div id="contenido">
                <h1>Productos con el 25%:</h1>
                </div>
              <div class="row justify-content-center">
                {% for medicamento in medicamentos_con_descuento %}
                {% if medicamento.desc_medicamento == 25 and medicamento.precio >= 1200 and medicamento.precio <= 1400 %}
                    <div class="ancho-personalizado" style="height: auto; padding: 1rem 1rem;">
                      <div class="card card border-dark mb-3">
                        <img src="{% static medicamento.url %}" class="card-img-top" style="height: 250px; padding: 2rem;" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ medicamento.nombre_medicamento }}</h5>
                          <p class="card-text">{{ medicamento.categoria }}</p>
                          <!-- Mostrar precio con descuento -->
                          <p class="card-text">
                            <span style="text-decoration: line-through;">$ {{ medicamento.precio }}</span>
                            (Descuento: {{ medicamento.desc_medicamento|floatformat:0 }}%)
                            <br>
                            Precio con descuento: $ {{ medicamento.precio_con_descuento|floatformat:"2" }}
                          </p>
                          <div>
                            <form method="post" action="{% url 'Add' medicamento.id_medicamento %}">
                              {% csrf_token %}
                              <div class="input-group" style="display: flex; align-items: center;">
                                <button type="button" class="btn btn-secondary btn-minus">-</button>
                                <input type="number" id="cantidad-{{ medicamento.id_medicamento }}" name="cantidad" value="1" min="1" style="max-width: 60px; margin-left: 2px; margin-right: 4px;">
                                <button type="button" class="btn btn-secondary btn-plus">+</button>
                                <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Agregar al carrito</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% elif afiliado.id_tipoPlan.id_tipoPlan == 3 %}
            <div id="centrado">
              <div id="contenido">
                <h1>Productos con el 75%:</h1>
                </div>
              <div class="row justify-content-center">
                {% for medicamento in medicamentos_con_descuento %}
                {% if medicamento.desc_medicamento == 75 and medicamento.precio >= 1200 and medicamento.precio <= 1400 %}
                    <div class="ancho-personalizado" style="height: auto; padding: 1rem 1rem;">
                      <div class="card card border-dark mb-3">
                        <div class="card-body">
                          <img src="{% static medicamento.url %}" class="card-img-top" style="height: 250px; padding: 2rem;" alt="...">
                          <h5 class="card-title">{{ medicamento.nombre_medicamento }}</h5>
                          <p class="card-text">{{ medicamento.categoria }}</p>
                          <!-- Mostrar precio con descuento -->
                          <p class="card-text">
                            <span style="text-decoration: line-through;">$ {{ medicamento.precio }}</span>
                            (Descuento: {{ medicamento.desc_medicamento|floatformat:0 }}%)
                            <br>
                            Precio con descuento: $ {{ medicamento.precio_con_descuento|floatformat:"2" }}
                          </p>
                          <div>
                            <form method="post" action="{% url 'Add' medicamento.id_medicamento %}">
                              {% csrf_token %}
                              <div class="input-group" style="display: flex; align-items: center;">
                                <button type="button" class="btn btn-secondary btn-minus">-</button>
                                <input type="number" id="cantidad-{{ medicamento.id_medicamento }}" name="cantidad" value="1" min="1" style="max-width: 60px; margin-left: 2px; margin-right: 4px;">
                                <button type="button" class="btn btn-secondary btn-plus">+</button>
                                <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Agregar al carrito</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
        
            <div id="centrado">
              <div id="contenido">
                <h1>Productos con el 50%:</h1>
                </div>
              <div class="row justify-content-center">
                {% for medicamento in medicamentos_con_descuento %}
                {% if medicamento.desc_medicamento == 50 and medicamento.precio >= 1200 and medicamento.precio <= 1400 %}
                    <div class="ancho-personalizado" style="height: auto; padding: 1rem 1rem;">
                      <div class="card card border-dark mb-3">
                        <img src="{% static medicamento.url %}" class="card-img-top" style="height: 250px; padding: 2rem;" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ medicamento.nombre_medicamento }}</h5>
                          <p class="card-text">{{ medicamento.categoria }}</p>
                          <!-- Mostrar precio con descuento -->
                          <p class="card-text">
                            <span style="text-decoration: line-through;">$ {{ medicamento.precio }}</span>
                            (Descuento: {{ medicamento.desc_medicamento|floatformat:0 }}%)
                            <br>
                            Precio con descuento: $ {{ medicamento.precio_con_descuento|floatformat:"2" }}
                          </p>
                          <div>
                            <form method="post" action="{% url 'Add' medicamento.id_medicamento %}">
                              {% csrf_token %}
                              <div class="input-group" style="display: flex; align-items: center;">
                                <button type="button" class="btn btn-secondary btn-minus">-</button>
                                <input type="number" id="cantidad-{{ medicamento.id_medicamento }}" name="cantidad" value="1" min="1" style="max-width: 60px; margin-left: 2px; margin-right: 4px;">
                                <button type="button" class="btn btn-secondary btn-plus">+</button>
                                <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Agregar al carrito</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
        
            <div id="centrado">
              <div id="contenido">
                <h1>Productos con el 25%:</h1>
                </div>
              <div class="row justify-content-center">
                {% for medicamento in medicamentos_con_descuento %}
                {% if medicamento.desc_medicamento == 25 and medicamento.precio >= 1200 and medicamento.precio <= 1400 %}
                    <div class="ancho-personalizado" style="height: auto; padding: 1rem 1rem;">
                      <div class="card card border-dark mb-3">
                        <img src="{% static medicamento.url %}" class="card-img-top" style="height: 250px; padding: 2rem;" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{ medicamento.nombre_medicamento }}</h5>
                          <p class="card-text">{{ medicamento.categoria }}</p>
                          <!-- Mostrar precio con descuento -->
                          <p class="card-text">
                            <span style="text-decoration: line-through;">$ {{ medicamento.precio }}</span>
                            (Descuento: {{ medicamento.desc_medicamento|floatformat:0 }}%)
                            <br>
                            Precio con descuento: $ {{ medicamento.precio_con_descuento|floatformat:"2" }}
                          </p>
                          <div>
                            <form method="post" action="{% url 'Add' medicamento.id_medicamento %}">
                              {% csrf_token %}
                              <div class="input-group" style="display: flex; align-items: center;">
                                <button type="button" class="btn btn-secondary btn-minus">-</button>
                                <input type="number" id="cantidad-{{ medicamento.id_medicamento }}" name="cantidad" value="1" min="1" style="max-width: 60px; margin-left: 2px; margin-right: 4px;">
                                <button type="button" class="btn btn-secondary btn-plus">+</button>
                                <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Agregar al carrito</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% else %}
                <p>No posee un tipo de plan</p>
            {% endif %}
        {% else %}
        {% endif %}
    {% endwith %}
    {% else %}
    <div id="centrado" >
      <div id="contenido" style="color: orange;">
      <h1>Iniciar Sesion para ofertas</h1>
      </div>
    </div>
    {% endif %}
    </div>


  <div id="centrado">
    <div id="contenido" >
    <h1>Metodos de pago</h1>
    </div>
  </div>
  <div class="banner" >
    <img src="{% static 'img/metodosdepago.jpg' %}" alt="Banner" class="img-responsive">
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".btn-plus").click(function () {
        var inputElement = $(this).closest(".input-group").find("input");
        var currentValue = parseInt(inputElement.val());
        inputElement.val(currentValue + 1);
      });

      $(".btn-minus").click(function () {
        var inputElement = $(this).closest(".input-group").find("input");
        var currentValue = parseInt(inputElement.val());
        if (currentValue > 1) {
          inputElement.val(currentValue - 1);
        }
      });
    });
  </script>
{% endblock content-home %}
