{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'form.css' %}">
</head>
<body>
    <a href="javascript:history.back()" class="btn-back">Atras</a>
    <h2>Registro de Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <td><label for="id_username">Nombre de usuario:</label></td>
            {{ form.username }}
        </div>
        <div>
            <label for="id_email">Correo electrónico:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_password1">Contraseña:</label>
            {{ form.password1 }}
        </div>
        <div>
            <label for="id_password2">Confirmar contraseña:</label>
            {{ form.password2 }}
        </div>
        <a href="webd.html" class="btn btn-success">Registrar</a>

    </form>
</body>
</html>
